Language: Cpp
ColumnLimit: 78
UseCRLF: false

TabWidth: 8
UseTab: Never # I FUCKING HATE THIS BUT SHIT BREAKS IF I DON'T DO IT THIS WAY!
IndentWidth: 8
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None # DEPRECATED
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 65535
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Custom
BraceWrapping: 
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeElse: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakStringLiterals: false # Specifically because I do this on my own
QualifierAlignment: Left
Cpp11BracedListStyle: false
DeriveLineEnding: false
DerivePointerAlignment: false
PointerAlignment: Right
DisableFormat: false
ExperimentalAutoDetectBinPacking: false

ForEachMacros: 
  - BR_FOR_SIMPLELIST

IncludeBlocks: Preserve
IndentCaseLabels: false
IndentCaseBlocks: false
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
IndentExternBlock: NoIndent
IndentRequires: false
IndentWrappedFunctionNames: false
InsertTrailingCommas: Wrapped
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 64
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakOpenParenthesis: 0
PenaltyBreakString: 65535
PenaltyExcessCharacter: 1000000
PenaltyIndentedWhitespace: 0
PPIndentWidth: -1
ReflowComments: false # I do this myself. qwq
RemoveBracesLLVM: true
SeparateDefinitionBlocks: Always
SortIncludes: Never
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements

SpaceBeforeParensOptions: 
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros: true
  BeforeNonEmptyParentheses: false

SpaceAroundPointerQualifiers: Default
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInLineCommentPrefix: 
  Minimum: 1
  Maximum: -1

SpacesInParentheses: false
SpacesInSquareBrackets: false
BitFieldColonSpacing: Both
Standard: Latest
